/***************
    Main
****************/
body {
    display: grid;
    place-items: center;

    font-family: var(--ff-body);
    font-size: var(--fs-400);

    background-image: 
        url('../images/bg-pattern-top-desktop.svg'),
        url('../images/bgern-bottom-desktop.svg');
    background-repeat: no-repeat;
    background-position: top left,
    bottom right;
    background-size: max(50%, 400px);
}

.main {
    grid-template-areas:
        'header'
        'ratings'
        'reviews';
    
    @include md('medium') {
        grid-template-columns: 3fr 4fr;
        grid-template-areas: 
            'header ratings'
            'reviews reviews';
    }
}